<div class="row marketing">

    <div class="jumbotron">
        <h1>BDD Workshop</h1>
    </div>
    <h4>Existing Implementation</h4>

    <p>
        User must provide at least one valid phone number to continue
    <ul>
        <li>user can enter up to 3 phone numbers</li>
        <li>user can proceed with valid number which is 10 digits number. If any number is invalid, display error
            "Please enter a valid number" for that field
        </li>
        <li>If no number entered, display error "Please enter at least one number"</li>
    </ul>
    </p>

    <h4>Change Request 1</h4>

    <p>
        User must provide at least one valid phone number to continue, if the mobile number field is entered, it must
        begin with 04 or 05
    <ul>
        <li>If mobile number doesn't begin with 04 or 05, display error "Please enter a mobile number"</li>
    </ul>
    </p>

    <h4>Change Request 2</h4>

    <p>
        User must provide at least one mobile phone number to continue, it doesn't have to be in mobile field. But
        number entered into mobile field must begin with 04 or 05
    <ul>
        <li>If none of the 3 numbers begins with 04 or 05, display error "Please enter a mobile number"</li>
        <li>If mobile number field doesn't begin with 04 or 05, display error "Please enter a mobile number"</li>
        <li>If mobile number field is empty but other fields contain valid mobile number, it should succeed</li>
        <li>If mobile number field is empty and other fields don't contain valid mobile number, display error "Please
            enter a mobile number"
        </li>
    </ul>
    </p>


</div>
